@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '~@fortawesome/fontawesome-free/css/all.min.css'; */

html {
    scroll-behavior: smooth;
    font-family:'Raleway', sans-serif;
}

/* @layer utilities {
    .paused {
        animation-play-state: paused;
    }
} */
